# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
.vs/
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf

# dodo-lang specific
CMakeLists.txt
cmake-build-debug/
.idea/
.sln
.vxproj
.vxproj.filters
.vxproj.user
